@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: 255° 100% 99%;
  --dark: 252° 0% 12%;

  --background: #fafafa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
